/tanel_bot
.idea
/max_bot/tokens.json
/max_bot/guild_ids.json
/max_bot/guild_ids.txt
/max_bot/guilds_info.txt
/max_bot/chat_logs
/max_bot/resources/replies/idk.json
/max_bot/resources/replies/testz.py
/max_bot/logger.py
/max_bot/resources/commands.py
/max_bot/resources/events.py
/max_bot/resources/replies/responses.json
/max_bot/resources/languages
